@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100,200,300,400,500,600,700,800,900;1,14..32,100..900&display=swap');
@import(./fonts/outward/outward-block.ttf);
@import('./fonts/basteleur/Basteleur-Moonlight.ttf');

body {
  background-color: blue;
  font-family: 'Inter', sans-serif; 
  color: white;
}

.outward {
  font-family: 'Outward', sans-serif
}
.basteleur {
  font-family: 'Basteleur', sans-serif
}

.topnav {
  p {
    font-size: 20px;
  }
}
